# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
\#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
*.ncb
*.opt
*.log
*.obj
*.o
*.dll
*.exe
*.lib
*.ilk
*.exp
*.idb
*.dep
*.mak
*.plg
*.aps
thumbs.db
Release
ReleaseDebug
Debug
DebugFast
