# *** SOURCE DIRECTORIES IN THE DATABASE ***

# Shape directories
shape_source_directory = stuff/fyros/decors/vegetations
hape_source_directory = stuff/fyros/agents/accessories
hape_source_directory = stuff/fyros/agents/actors/male
hape_source_directory = stuff/fyros/agents/actors/male/animation
hape_source_directory = stuff/fyros/agents/actors/female
hape_source_directory = stuff/fyros/agents/actors/female/animation
hape_source_directory = stuff/fyros/agents/actors/bots
hape_source_directory = stuff/fyros/agents/actors/bots/animation
hape_source_directory = stuff/fyros/agents/monsters
hape_source_directory = stuff/fyros/agents/monsters/chien
hape_source_directory = stuff/fyros/agents/monsters/cheval
hape_source_directory = stuff/fyros/agents/actors/vehicules
hape_source_directory = stuff/fyros/decors/constructions
hape_source_directory = stuff/tryker/agents/accessories
hape_source_directory = stuff/tryker/agents/actors/male
hape_source_directory = stuff/tryker/agents/actors/male/animation
hape_source_directory = stuff/tryker/agents/actors/female
hape_source_directory = stuff/tryker/agents/actors/female/animation
hape_source_directory = stuff/tryker/agents/actors/bots
hape_source_directory = stuff/tryker/agents/actors/bots/animation
hape_source_directory = stuff/tryker/agents/actors/monsters/animation
hape_source_directory = stuff/tryker/agents/actors/vehicules
hape_source_directory = stuff/tryker/decors/vegetations
hape_source_directory = stuff/tryker/decors/constructions
hape_source_directory = landscape/eau

# Particule system directories
ps_source_directory = sfx

# Animation directories
anim_source_directory = stuff/fyros/agents/actors/male/animation/anims
anim_source_directory = stuff/fyros/agents/actors/female/animation/anims
anim_source_directory = stuff/tryker/agents/actors/male/animation/anims
anim_source_directory = stuff/tryker/agents/actors/female/animation/anims
anim_source_directory = stuff/fyros/agents/monsters/chien/animation/anims
anim_source_directory = stuff/fyros/agents/monsters/cheval/animation/anims

# Skeleton directories
skel_source_directory = stuff/fyros/agents/actors/male/animation/skeletons
skel_source_directory = stuff/fyros/agents/actors/female/animation/skeletons
skel_source_directory = stuff/tryker/agents/actors/male/animation/skeletons
skel_source_directory = stuff/tryker/agents/actors/female/animation/skeletons
skel_source_directory = stuff/fyros/agents/monsters/chien/animation/skeletons
skel_source_directory = stuff/fyros/agents/monsters/cheval/animation/skeletons

# Skeleton template weight directories
swt_source_directory = stuff/fyros/agents/actors/male/animation/swt
swt_source_directory = stuff/fyros/agents/actors/female/animation/swt
swt_source_directory = stuff/tryker/agents/actors/male/animation/swt
swt_source_directory = stuff/tryker/agents/actors/female/animation/swt
swt_source_directory = stuff/fyros/agents/monsters/chien/animation/swt
swt_source_directory = stuff/fyros/agents/monsters/cheval/animation/swt

# Maps directories
map_source_directory = stuff/fyros/decors/_textures
map_source_directory = stuff/fyros/agents/_textures/accessories
map_source_directory = stuff/fyros/agents/_textures/Monsters
map_source_directory = stuff/fyros/agents/_textures/vehicules
map_source_directory = stuff/tryker/decors/_textures
map_source_directory = stuff/tryker/agents/_textures/accessories
map_source_directory = stuff/tryker/agents/_textures/Monsters
map_source_directory = stuff/tryker/agents/_textures/vehicules
map_source_directory = stuff/fyros/decors/_textures/batiments
map_source_directory = stuff/fyros/decors/_textures/vegetation
map_source_directory = stuff/tryker/decors/_textures/batiments
map_source_directory = stuff/tryker/decors/_textures/vegetation
map_source_directory = sfx

# Maps panoply directories
map_panoply_source_directory = stuff/fyros/agents/_textures/actors
map_panoply_source_directory = stuff/tryker/agents/_textures/actors

#Maps panoply masks directories 
map_panoply_mask_source_directory = stuff/fyros/agents/_textures/masks


# Tiles directories
tile_source_directories = landscape/_texture_Tiles

# Displace directories
displace_source_directories = landscape/_texture_Tiles/displace

# Zone directory
zone_source_directory = landscape/zones

# Bank directory
bank_source_directory = landscape/_texture_Tiles/bank

# Ig landscape directories
ig_land_source_directory = landscape/zones

# Ig other directories
ig_other_source_directory = stuff/fyros/decors/constructions

# Interface directories
interface_source_directories = interface

# Vegetable set directories
vegetset_source_directory = landscape/veget_set

# Veget directories
veget_source_directory = landscape/veget


# Water maps directory (Used for water lightmapping)
water_map_directory = landscape/eau/maps



# *** INSTALL DIRECTORIES IN THE CLIENT DATA ***

# Client directories
client_setup_directory = shapes
client_setup_directory = ps
client_setup_directory = animations
client_setup_directory = animations/anims
client_setup_directory = animations/skeletons
client_setup_directory = animations/swt
client_setup_directory = maps
client_setup_directory = maps/interface
client_setup_directory = maps/water
client_setup_directory = tiles
client_setup_directory = tiles/displace
client_setup_directory = zones
client_setup_directory = bank
client_setup_directory = ig
client_setup_directory = vegetables
client_setup_directory = pacs

# Shape directory
shape_install_directory = shapes

# Particule system directories
ps_install_directory = ps

# Animation directory
anim_install_directory = animations/anims

# Skeleton directory
skel_install_directory = animations/skeletons

# Skeleton template weight directory
swt_install_directory = animations/swt

# Map directory
map_install_directory = maps

# Tile directory
tile_install_directory = tiles

# Displace directory
displace_install_directory = tiles/displace

# Zone directory
zone_install_directory = zones

# Bank directory
bank_install_directory = bank

# Ig directory
ig_install_directory = ig

# Interface directory
interface_install_directory = maps/interface

# Vegetable set directory
vegetset_install_directory = vegetables

# Vegetable shape directory
veget_install_directory = vegetables

# Pacs set directories
pacs_install_directory = pacs

# Water maps directories
water_maps_directories = maps/water
